<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="FatZebraPayment" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">FatZebra\Gateway\Helper\Data::METHOD_CODE</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\Info</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form\Cc</argument>
            <argument name="valueHandlerPool" xsi:type="object">FatZebraValueHandlerPool</argument>
            <!--<argument name="validatorPool" xsi:type="object">FatZebraValidatorPool</argument>-->
            <argument name="commandPool" xsi:type="object">FatZebraCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Commands infrastructure -->
    <virtualType name="FatZebraCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">FatZebra\Gateway\Gateway\CaptureCommand</item>
                <item name="vault_sale" xsi:type="string">FatZebra\Gateway\Gateway\VaultCaptureCommand</item>
                <item name="refund" xsi:type="string">FatZebra\Gateway\Gateway\RefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">FatZebraValueHandler</item>
                <item name="vault" xsi:type="string">FatZebraVaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">FatZebraPaymentConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">FatZebra\Gateway\Helper\Data::METHOD_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraVaultValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">FatZebraVaultPaymentConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraVaultValueHandlerPool" type="VaultPaymentValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">FatZebraVaultValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraVaultPaymentConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">FatZebra\Gateway\Helper\Data::VAULT_METHOD_CODE</argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraVaultProvider" type="Magento\Vault\Model\Method\Vault">
        <arguments>
            <argument name="config" xsi:type="object">FatZebraVaultPaymentConfig</argument>
            <argument name="vaultProvider" xsi:type="object">FatZebraPayment</argument>
            <argument name="code" xsi:type="const">FatZebra\Gateway\Helper\Data::VAULT_METHOD_CODE</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Payment\Gateway\Command\CommandManagerPool">
        <arguments>
            <argument name="executors" xsi:type="array">
                <item name="fatzebra_gateway" xsi:type="string">FatZebraCommandManager</item>
            </argument>
        </arguments>
    </type>
    <!-- Command managers section for Vault -->
    <virtualType name="FatZebraCommandManager" type="Magento\Payment\Gateway\Command\CommandManager">
        <arguments>
            <argument name="commandPool" xsi:type="object">FatZebraCommandPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraGatewayLoggerHandler" type="\Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/fatzebra_gateway.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="FatZebraGatewayLogger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="object">fatzebra_gateway</argument>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="object">FatZebraGatewayLoggerHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="\FatZebra\Gateway\Gateway\RefundCommand">
        <arguments>
            <argument name="logger" xsi:type="object">FatZebraGatewayLogger</argument>
        </arguments>
    </type>
    <type name="\FatZebra\Gateway\Gateway\CaptureCommand">
        <arguments>
            <argument name="logger" xsi:type="object">FatZebraGatewayLogger</argument>
        </arguments>
    </type>
    <type name="\FatZebra\Gateway\Gateway\VaultCaptureCommand">
        <arguments>
            <argument name="logger" xsi:type="object">FatZebraGatewayLogger</argument>
        </arguments>
    </type>
</config>