<?xml version="1.0"?>
<!--
/**
* FatZebra_Gateway DI definitions
*
* @category    Fat Zebra
* @package     FatZebra_Gateway
* @copyright   Fat Zebra (https://www.fatzebra.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <virtualType name="FatZebra\Gateway\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="fatzebra_gateway" xsi:type="const">FatZebra\Gateway\Helper\Data::METHOD_CODE</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="fatzebra_gateway_config_provider" xsi:type="object">FatZebra\Gateway\Model\ConfigProvider</item>
                <item name="fatzebra_gateway_iframe_config_provider" xsi:type="object">FatZebra\Gateway\Model\Config\FatZebraConfigProvider</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Vault\Model\Ui\TokensConfigProvider">
        <arguments>
            <argument name="tokenUiComponentProviders" xsi:type="array">
                <item name="fatzebra_gateway" xsi:type="object">FatZebra\Gateway\Model\Ui\TokenUiComponentProvider</item>
            </argument>
        </arguments>
    </type>
</config>
